body{
    background-color: rgb(0, 110, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1#titulo{
    color: green;
}
input#up{
    margin-left: 5px;
}
div#tud{
    text-align: center;
}
div#videos{
    background-color: white;
    border-radius: 10px;
    width: 1160px;
    margin: auto;
    margin-top: 10px;
}