h1#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
body{
    background-color: rgb(0, 110, 255);
}
input{
    border-radius: 10px;
}
div#tud{
    text-align: center;
}
div#videos{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
